html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Pridi";
}

h1,
h2,
h3,
h4,
h5,
h6,
.form-group label {
  color: white;
}

a {
  /* color: #D554AD !important; */
}

a:hover {
  /* color: #D554AD !important; */
  text-decoration: none;
}

#map {
  /* height: 70%; */
  height: 300px;
}

.modal-body .form-group label {
  color: black;
}

body {
  background-image: url("/Culture4U/frontend-assets/assets/imgs/mainbg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
}

#user-img {
  position: relative;
  /* z-index: 100000000; */
  z-index: 3;
}

#user-img img {
  position: absolute;
  top: 0px;
  width: 32px;
  left: 0px;
  cursor: pointer;
}

.logo-top {
  padding: 30px;
}

#index-fb {
  margin-bottom: 15px;
  margin-top: 25px;
}

#index-help h3 {
  color: white;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111111b3;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 8px 15px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.sidenav .sub-menu {
  border-bottom: solid gray 2px;
  cursor: pointer;
}

.sidenav img {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

#commentform,
#complaintform,
#informfrom,
#history,
#list-news {
  margin-bottom: 10px;
  margin-top: 10px;
}

.media h4,
.media h3,
.nav-menu h4,
#knowledge-cat div div span {
  color: black;
  margin-top: 0px;
}

.no-top {
  overflow: auto !important;
}

#knowledge-cat span {
  font-size: 12px;
  color: white;
}

#knowledge-search,
#hilight-search {
  margin-top: 10px;
  padding-left: 60px;
}

.active-img {
  cursor: pointer;
}

#nav-menu {
  height: 100px;
}

.nav-menu {
  position: absolute;
  margin-top: 10px;
  float: left;
  left: 0;
  width: 100%;
}

.nav-menu>img,
.nav-menu>h4 {
  display: inline-block;
}

.nav-menu>hr {
  width: 90%;
  border-width: 2px !important;
}

.btn-modern {
  background-color: transparent !important;
  border: transparent !important;
}

.search {
  font-size: 20px !important;
  color: black;
}

.sidebar-nav {
  position: fixed;
  width: 25%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #74135E;
  height: 100%;
  padding: 10px 0px 0px 0px;
  overflow-y: auto;
}

.sidebar-nav h3 {
  display: block;
  padding-left: 10%;
}

.sidebar-nav ul.nav li {
  font-size: 1.7em;
}

.sidebar-nav ul.nav li a {
  border-radius: 4px;
  font-weight: 300;
  color: white;
  padding-left: 20%;
}

.sidebar-nav ul>li>a>img {
  display: inline-block;
}

.sidebar-nav ul>li>a:hover {
  background-color: #BB4399;
  border-radius: 0px;
}

.nav-responsive {
  display: block;
  padding-left: 0;
  margin-top: -1px !important;
}

.nav-active {
  background-color: #D554AD;
}

ul.nav-responsive>li:hover {
  background-color: #D554AD;
}

.nav-responsive li {
  display: block;
  list-style: none;
  float: left;
  width: 20%;
}

.nav-responsive li div.img-block {
  height: 45px;
  width: 45px;
  margin: 0 auto;
  position: relative;
  /* border: solid; */
}

.nav-responsive li img.img-icon {
  padding: 10px 0px 5px 0px;
}


.nav-responsive li span {
  color: white;
}

.knowledge-img {
  display: block;
  padding: 0px 0px 5px 5px;
}

.knowledge-img h3 {
  color: black;
  margin-top: 10px !important;
}

.knowledge-img h4 {
  color: black;
}

.knowledge-img p {
  color: black;
}

.knowledge-img hr {
  width: 90%;
  border-width: 2px !important;
  margin: 10px 10px 10px 10px;
}

.knowledge-global {
  display: block;
  border: solid 2px black;
  width: 115px;
  height: 25px;
  border-radius: 25px;
  float: right;
  margin-top: -29px;
  padding: 0px;
  background-color: white;
}

.knowledge-global span {
  padding: 5px 5px 5px 15px;
  color: black !important;
}

.knowledge-body {
  padding: 5px;
}

.knowledge-list {
  list-style: none;
  padding: 0px !important;
}

.knowledge-list li {
  text-align: left;
  margin-top: 2px;
}

.knowledge-btn {
  color: white !important;
  padding: 10px 60px 10px 60px;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(left, #621e8b 0%, #c22990 100%), -webkit-linear-gradient(left, #621e8b 0%, #c22990 100%);
  background-image: -moz-linear-gradient(left, #621e8b 0%, #c22990 100%), -moz-linear-gradient(left, #621e8b 0%, #c22990 100%);
  background-image: -o-linear-gradient(left, #621e8b 0%, #c22990 100%), -o-linear-gradient(left, #621e8b 0%, #c22990 100%);
  background-image: linear-gradient(to right, #621e8b 0%, #c22990 100%), linear-gradient(to right, #621e8b 0%, #c22990 100%);
}

.panel-history .panel-heading .panel-title {
  margin-bottom: 5px;
}

.panel-history .panel-heading .panel-title h4 a {
  text-decoration: none !important;
}

.panel-history .panel-heading p {
  margin: 0 0 5px !important
}

.panel-history {
  background-color: transparent !important;
  border: transparent !important;
  border-color: transparent;
}

.panel-history .panel-heading {
  display: block;
  border-radius: 5px;
}

.panel-history .panel-collapse .panel-body {
  border: transparent !important;
  padding: 15px 0px 15px 0px;
}

.panel-history .panel-collapse .panel-body .media .media-body {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.panel-history .panel-collapse .panel-body .media .media-body:after {
  display: block;
  /* content: "";
  position: absolute;
  height: 0;
  width: 0;
  left: 100%;
  top: 50%;
  border: 5px solid transparent;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 7px;
  border-left: 5px solid white; */
}

.none-reply {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.tooltip-contact {
  padding: 10px 30px 10px 30px;
  background-color: white;
  border-radius: 30px;
}

/* /////////////////  REsponsive */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #img-block {
    height: 1190px;
    position: relative;
    width: 100%;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  #img-block {
    height: 1025px;
    position: relative;
    width: 100%;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    bottom: 5%;
    left: 25%;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  #img-block {
    height: 785px;
    position: relative;
    width: 745px;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #img-block {
    height: 775px;
    position: relative;
    width: 715px;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  #img-block {
    height: 470px;
    position: relative;
    width: 450px;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  #img-block {
    height: 350px;
    position: relative;
    width: 340px;
  }

  #img-block .comment {
    width: 50%;
    top: 0%;
    left: 25%;
    position: absolute;
  }

  #img-block .info {
    width: 50%;
    position: absolute;
    top: 25%;
  }

  #img-block .complaint {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 25%;
  }

  #img-block .news {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
  }
}

.fb-img {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

.submit-color {
  background-color: #c22990 !important;
  color: white !important;
  border-color: #c22990 !important;
  border-radius: 0px !important;
}

.can-color {
  background-color: #c4adb8 !important;
  color: black !important;
  border-color: #c4adb8 !important;
  border-radius: 0px !important;
}

.must-input {
  color: red;
}

.admin-read {
  float: right;
  padding-left: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: #c22990 !important;
  color: white !important;
}

.nav-tabs>li>a {
  background-color: #c4adb8 !important;
  color: black !important;
}

label {
  font-weight: 300 !important;
}